{% extends "base.html" %}

{% block title %}404 - Page Not Found{% endblock %}

{% block content %}
<section id="main" class="wrapper style2">
  <div class="title">404</div>
  <div class="container">
    <section class="box">
      <header>
        <h2>Page Not Found</h2>
      </header>
      <p>The page you requested does not exist or was moved.</p>
      <ul class="actions">
        <li><a href="{% url 'core:home' %}" class="button style1">На главную</a></li>
      </ul>
    </section>
  </div>
</section>
{% endblock %}
